<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
        
        <ul class="nav navbar-nav">
            <li><a href="{{ path('homepage') }}"><i class="fa fa-home" aria-hidden="true"></i> {{ "top_nav_home" | trans({}, 'messages') }}</a></li>
            {% if is_granted('ROLE_USER') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{ "top_nav_profil" | trans({}, 'messages') }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ path('fos_user_profile_show') }}">{{ "top_nav_show_profil" | trans({}, 'messages') }}</a></li>
                      <li><a href="{{ path('fos_user_profile_edit') }}">{{ "top_nav_edit_profil" | trans({}, 'messages') }}</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('admin') }}"><i class="fa fa-cog" aria-hidden="true"></i> {{ "top_nav_administration" | trans({}, 'messages') }}</a></li>
            {% endif %}

            {% if app.user %}
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        {{ "logout" | trans({}, 'messages') }}
                    </a>
                </li>
            {% endif %}
        </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--navigation-->